<!DOCTYPE html>
<html>
	<head>
		<title>Scenarioproject <%= projectid %> Admin</title>
		<link rel='stylesheet' href='/scenario/css/admin.css' />
		<link rel='stylesheet' href='/scenario/css/jquery-ui-1.10.4.custom.css' />
		<script src='/scenario/js/jquery-1.11.0.js'></script>
		<script src='/scenario/js/jquery-ui-1.10.4.custom.js'></script>
		<script src='/scenario/js/jquery.cookie.js'></script>
		<script src='/scenario/js/jquery.ajaxfileupload.js'></script>
		<script src='/scenario/js/jquery.jeditable.js'></script>
		<script src='/scenario/js/admin.js'></script>
	</head>
	<body>
		<div id='projectadmin' title='<%= projectid %>'>
		</div>
	</body>
</html>
