<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>staticadmin</title>
		<link rel='stylesheet' href='/static/css/jquery-ui-1.10.4.custom.css' />
		<link rel='stylesheet' href='/static/css/foundation.css'>
		<link rel='stylesheet' href='/static/css/admin.css'>
	</head>
	<body>
		<div class="row">
			<div id="root" class="small-12 columns">
			</div>
		</div>
		<div class="row">
			<div id="footer" class="small-12 columns">
				<p>Copyright &copy; 2014 VTT</p>
			</div>
		</div>
		<script src='/static/js/jquery-1.11.0.js'></script>
		<script src='/static/js/jquery-ui-1.10.4.custom.js'></script>
		<script src='/static/js/admin.js'></script>
	</body>
</html>
