<!DOCTYPE html>
<html>
  <head>
    <title>Luo uusi skenaarioprojekti</title>
    <link rel='stylesheet' href='/scenario/css/scenario.css' />
    <script src='/scenario/js/jquery-1.11.0.js'></script>
    <script src='/scenario/js/frontpage.js'></script>
    <script src='/scenario/js/jquery.cookie.js'></script>
  </head>
  <body>
	<form id='createproject' method='post'>
		Luo uusi skenaarioprojekti nimellä <input type='text' id='projectname' name='projectname'></input>.
		<input type='submit' name='createproject' value='Luo' />
	</form>
  </body>
</html>
