<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/collage/css/collage.css' />
    <script src='/collage/js/jquery-1.9.0.js'></script>
    <script src='/collage/js/frontpage.js'></script>
    <script src='/collage/js/jquery.cookie.js'></script>
  </head>
  <body>
	<form id='createcollage' method='post'>
		Luo uusi kollasi nimellä <input type='text' id='collagename' name='collagename'></input>
		ja salasanalla <input type='text' id='collagepassword' name='collagepassword'></input>
		<input type='submit' name='createcollage' value='Luo' />
	</form>
  </body>
</html>
