<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/scenario/css/scenario.css' />
    <script src='/scenario/js/jquery-1.11.0.js'></script>
    <script src='/scenario/js/frontpage.js'></script>
    <script src='/scenario/js/jquery.cookie.js'></script>
  </head>
  <body>
	<form id='createscenario' method='post'>
		Luo uusi skenaarioprojekti nimellä <input type='text' id='scenarioname' name='scenarioname'></input>
		ja salasanalla <input type='text' id='scenariopassword' name='scenariopassword'></input>
		<input type='submit' name='createscenario' value='Luo' />
	</form>
  </body>
</html>
