<!DOCTYPE html>
<html>
	<head>
		<title>Scenario <%= projectid %></title>
		<link rel='stylesheet' href='/static/css/scenario.css' />
		<link rel='stylesheet' href='/static/css/jquery-ui-1.10.4.custom.css' />
		<script src='/static/js/jquery-1.11.0.js'></script>
		<script src='/static/js/jquery-ui-1.10.4.custom.js'></script>
		<script src='/static/js/jquery.cookie.js'></script>
		<script src='/static/js/jquery.ajaxfileupload.js'></script>
		<script src='/static/js/jquery.jeditable.js'></script>
		<script src='/static/js/scenario.js'></script>
	</head>
	<body>
		<div id='scenariocanvas' title='<%= projectid %>'>
		</div>
	</body>
</html>
