<!DOCTYPE html>
<html>
	<head>
		<title>Scenario <%= projectid %></title>
		<link rel='stylesheet' href='/static/css/scenario.css' />
		<link rel='stylesheet' href='/static/css/jquery-ui-1.10.4.custom.css' />
		<script src='/static/js/jquery-1.11.0.js'></script>
		<script src='/static/js/jquery-ui-git.js'></script>
		<script src='/static/js/jquery.cookie.js'></script>
		<script src='/static/js/jquery.ajaxfileupload.js'></script>
		<script src='/static/js/jquery.jeditable.js'></script>
		<script src='/static/js/scenario.js'></script>
		<script type="text/javascript">
			var projectid = '<%= projectid %>';
			var scenarioid = '<%= scenarioid %>';

			if (scenarioid == 'undefined') {
				window.location.replace(window.location.pathname.replace(/\/$/, "") + '/' + guid());
			}

			function s4() {
				return Math.floor((1 + Math.random()) * 0x10000)
			            .toString(16)
			            .substring(1);
			}

			function guid() {
				return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
				s4() + '-' + s4() + s4() + s4();
			}
		</script>
	</head>
	<body>
		<div id='scenariocanvas' title='<%= projectid %>'>
			<div id='labelleft'></div>
			<div id='labelright'></div>
			<div id='labeltop'></div>
			<div id='labelbottom'></div>
		</div>
	</body>
</html>
