<!DOCTYPE html>
<html>
	<head>
		<title>Scenario <%= projectid %></title>
		<link rel='stylesheet' href='/scenario/css/scenario.css' />
		<link rel='stylesheet' href='/scenario/css/jquery-ui-1.10.4.custom.css' />
		<script src='/scenario/js/jquery-1.11.0.js'></script>
		<script src='/scenario/js/jquery-ui-1.10.4.custom.js'></script>
		<script src='/scenario/js/jquery.cookie.js'></script>
		<script src='/scenario/js/jquery.ajaxfileupload.js'></script>
		<script src='/scenario/js/jquery.jeditable.js'></script>
		<script src='/scenario/js/scenario.js'></script>
	</head>
	<body>
		<div id='scenariocanvas' title='<%= projectid %>'>
			<div id='scenariotoolbar'>
				<form name='addpicture' id='addpicture' method='post' enctype='multipart/form-data'>
					Lisää kuva 
					<input type='file' name='scenariopicture' id='scenariopicture' accept='image/*'></input>
					<input type='submit' name='uploadsubmit' id='uploadsubmit' value='Lataa'></input>
				</form>
			</div>
		</div>
	</body>
</html>
