body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: white;
}

a {
  color: #00B7FF;
}

#scenariocanvas {
	width: 800px;
	height: 800px;
  background: url('/static/img/upload/prefmapbgn.png');
  color: white;
  position: relative;
  border: solid 1px black;
}

#scenariotoolbar {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#scenariotoolbar {
	display: none;
}

#scenariotoolbar #uploadsubmit {
	display: none;
}

.scenarioitem {
	background: white;
	padding: 3px;
	border: solid black 1px;
	position: absolute !important;
	
	/*-moz-transform: rotate(10deg);  /* FF3.5/3.6 */
	/*-o-transform: rotate(10deg);  /* Opera 10.5 */
	/*-webkit-transform: rotate(10deg);  /* Saf3.1+ */
	/*transform: rotate(10deg);  /* Newer browsers (incl IE9) */
}

.scenarioitem .image {
  background: #c0c0c0;
  width: 200px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background: url('/scenario/img/ajax-loader.gif') 50% 50% no-repeat;
}

.scenarioitem .text {
	width: auto;
	height: 1.2em;
	color: black;
	padding-top: 4px;
	text-align: center;
}

.scenarioitem .text .placeholder {
	color: gray;
}

.scenarioitem .delete {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: white;
	display: none;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}	

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
